@media (min-width: 768px) {

// Index Ipad Vision

    header {
        .encabezado { 
            display: grid;
            grid-template-columns: 1fr repeat(3, auto);
            grid-template-rows: 1fr;
            align-items: center;
            background-color: #befcfeab;
            .a-busqueda {
                display: none;
            }
            .mb-logo {
                grid-column: 2 / 4;
                grid-row: 1 / 2;
                justify-self: center;
                padding-top: 10px;
                padding-right: 5px;
                padding-bottom: 17px;
                .logo { 
                    width: 600px;
                }
            }
            .a-carrito {
                display: none;
            }
            .navbar {
                display: none;
            }
        }
        .toggle-menu {
            display: none;
        }
        .navbar-hamburguesa {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 30px;
            height: 20px;
            cursor: pointer;
            transform: translate(7px);
            margin-left: 80px;
            .linea {
                width: 100%;
                height: 3px;
                background-color: #000000;
            }
        }
        .menu {
            display: none;
            grid-column: 1 / -1;
            background-color: #befcfeab;
            margin-right: 200px;
            line-height: 0;
            border: 3px solid #2c9fa3;
            border-radius: 5px;
            padding: 20px;
            text-indent: 5.0em;
            max-width: 300px;
            max-height: 150px;
            li {
                list-style-position: inside;
                grid-gap: 20px; 
                padding-top: 10px;
                margin-bottom: 10px;
                a {
                    color: #2c9fa3;
                    text-decoration: none;
                    &:hover {
                        color: #ff8846;
                    }
                }
            }
        }
        .toggle-menu:checked ~ .menu {
            display: block;
        }
    }    
    .carousel-inner{
        border: 3px solid #000000;
        border-radius: 5px3;
        margin-top: 17px;
        height: 300px;
        width: auto;
    }
    .carousel-control-prev {
        background-color: #000000AB;
        margin-top: 20px;
    }
    .carousel-control-next {
        background-color: #000000AB;
        margin-top: 20px;
    }
    .indexh2-mb {
        font-size: 30px;
        font-weight: bold;
        color: #000000;
        background-color: #ff8846;
        text-align: center;
        border: 3px solid #000000;
        border-radius: 5px;
        margin-top: 17px;
        margin-bottom: 17px;
        padding: 7px;
    }
    .lista-enmarcaciones {
        list-style: none;
        font-size: 20px;
        font-weight: bold;
        padding: 30px;
        background-color: #ff8846;
        border-radius: 5px;
        border: 3px solid #2c9fa3;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .texto-li {
            display: flex;
            align-content: center;
            padding-bottom: 30px;
            text-align: start;
            gap: 30px;
        }
        li{    
            .imagenes-li {
                position: relative;
                .espejos {
                    width: 87px;
                    top: -50px;
                    right: -30px;
                }
                .posters {
                    width: 141px;
                    top: 20px;
                    left: -15px;
                    margin: 0 auto;
                }
                .dibujos {
                    width: 111px;
                    top: -20px;
                    margin: 0 auto;
                }
                .lienzos {
                    width: 140px;
                    top: 20px;
                    right: 10px;
                    margin: 0 auto;
                }
                .fotos {
                    width: 139px;
                    top: -50px;
                    left: 30px;
                    margin: 0 auto;
                }
            }
        }     
    }
    .envio-presupuesto {
        margin-top: 17px;
        margin-bottom: 17px;
        border: 3px solid #000000;
        background-color: #6dd6da;
        padding: 20px;
        .obra-presupuesto {
            font-weight: bold;
            font-size: 17px;
            text-decoration: underline 2px;
        }
        .imagen-container {
            .boton-cargar {
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .placeholder-container {
                display: flex;
                justify-content: center;
                align-items: center;   
                #vista-previa {
                    width: 170px;
                    max-height: 170px;
                }
            }
        }
        .alto-container {
            display: flex;
            flex-direction: row;
            justify-content: start;
            margin: -100px 0 0 145px;
            #alto {
                width: 50px;
            }
        }
        .ancho-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 55px;
            #ancho {
                width: 50px;
            }
        }
        #enviar {
            transform: translate(150px);
            margin: 0 auto;
            padding: 5px 20px;
            border-radius: 7px;
            border-color: #000000;
            background-color: #ff8846;
            border-style: solid;
            color: #2c9fa3;
            display: flex;
            justify-content: center;
        }
    }    
    
// Productos Ipad Vision
    
#productosjson {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
    background-color: #6dd6daab;
    border: 3px solid #000000;
    border-radius: 5px;
    .imagenes-productos-v {
        width: 150px;
        height: auto;
        margin-bottom: 10px;
    }
    .imagenes-productos-c{
        height: 200px;
        width: auto;
        margin-bottom: 10px;
    }
    .imagenes-productos-h {
        height: 150px;
        width: auto;
        margin-bottom: 10px;
    }
    .nombre-productos {
        font-size: 18px;
        margin-bottom: 5px;
        font-weight: bold;
    }
    .precio-productos {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .agregar-carrito {
        padding: 10px 20px;
        background-color: #ff8846;
        color: #000000;
        font-weight: bold;
        border: 2px solid #2c9fa3;
        border-radius: 5px;
        margin-bottom: 20px;
        cursor: pointer;
        &:hover {
            background-color: #2c9fa3;
        }
    }  
    .cargar-mas {
        grid-column: 2 / 3;
        padding: 5px 100px;
        background-color: #ff8846;
        color: #000000;
        font-size: 17px;
        font-weight: bold;
        border: 2px solid #2c9fa3;
        border-radius: 5px;
        margin-bottom: 20px;
        cursor: pointer;
        &:hover {
            background-color: #2c9fa3;
        }
    }    
}

// Galeria Ipad Vision 

    .galeria-obras {
        display: grid;
        margin-top: 17px;
        margin-bottom: 17px;
        background-color: #6dd6daab;
        border: 3px solid #000000;
        border-radius: 5px;
        .texto-gav {
            text-align: center;
            justify-content: center;
            .galeriah2-mb {
                margin-top: 10px;
                text-decoration: underline;
                font-size: 20px;
                font-weight: bold;
            }
            .parrafo-gav {
                margin-top: 10px;
                font-size: 17px;
                border: dotted;
                border-color: #ff8846;
            }
        }
        @import 'flipcarousel';
    }

// Disenado Ipad Vision 

    .seccion-disenado {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
        padding: 20px;
        background-color: #6dd6daab;
        border: 3px solid #000000;
        border-radius: 5px;  
        .disenadoh1-mb{
            text-decoration: underline;
            font-size: 30px;
            font-weight: bold;
            color: #000000;
            margin: 10px 0 50px 0;
        }
        .diseno-rectangular{
            width: 300px;
        }
        .diseno-cuadrado{
            width: 360px;
        }
        .button-selector{
            padding: 5px 10px;
            background-color: #ff8846;
            color: #000000;
            font-weight: bold;
            border: 2px solid #2c9fa3;
            border-radius: 5px;
            margin-bottom: 50px;
            margin-top: 10px;
        }
    }

// Contacto Ipad Vision 

    .descripcion {
        border-collapse: separate;
        border-radius: 5px;
        margin: 17px auto;
        border: 3px solid #000000;
        background-color: #befcfeab;
        padding: 20px;
        p{
            font-size: 20px;
            text-align: center;
            line-height: 1.4;
            color: #000000;
        }
        .firma {
            font-weight: bold;
        }
    }
}